NAME : C.SURYA KIRAN  REG NO: 21BCE1110

In [1]:
import pandas as pd
import numpy as np

In [4]:
data ={'Name':['Surya','Rekha','Vamsi','Nidhish','Bharath','Charan','Hanuma','Hrishi','Sam','Kiran'],
   'RegNo':['21BCE1110','21BCE1111','21BCE1112','21BCE1113','21BCE1114','21BCE1115','21BCE1116','21BCE1117','21BCE1118','21BCE1119'],
   'GPA':[9,8,7,np.nan,5,4,3,2,1,0],
   'CGPA':[9,6,3,4,5,6,7,8,1,0],
   'Phone num':['7330800701','7330800702','7330800703','7330800704','7330800705','7330800706','7330800707','7330800708','7330800709','7330800710']}

data

{'Name': ['Surya',
  'Rekha',
  'Vamsi',
  'Nidhish',
  'Bharath',
  'Charan',
  'Hanuma',
  'Hrishi',
  'Sam',
  'Kiran'],
 'RegNo': ['21BCE1110',
  '21BCE1111',
  '21BCE1112',
  '21BCE1113',
  '21BCE1114',
  '21BCE1115',
  '21BCE1116',
  '21BCE1117',
  '21BCE1118',
  '21BCE1119'],
 'GPA': [9, 8, 7, nan, 5, 4, 3, 2, 1, 0],
 'CGPA': [9, 6, 3, 4, 5, 6, 7, 8, 1, 0],
 'Phone num': ['7330800701',
  '7330800702',
  '7330800703',
  '7330800704',
  '7330800705',
  '7330800706',
  '7330800707',
  '7330800708',
  '7330800709',
  '7330800710']}

Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [5]:
df=pd.DataFrame(data)
df

      Name      RegNo  GPA  CGPA   Phone num
0    Surya  21BCE1110  9.0     9  7330800701
1    Rekha  21BCE1111  8.0     6  7330800702
2    Vamsi  21BCE1112  7.0     3  7330800703
3  Nidhish  21BCE1113  NaN     4  7330800704
4  Bharath  21BCE1114  5.0     5  7330800705
5   Charan  21BCE1115  4.0     6  7330800706
6   Hanuma  21BCE1116  3.0     7  7330800707
7   Hrishi  21BCE1117  2.0     8  7330800708
8      Sam  21BCE1118  1.0     1  7330800709
9    Kiran  21BCE1119  0.0     0  7330800710

Task- 2 Check the info of 'df'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       10 non-null     object
 1   RegNo      10 non-null     object
 2   GPA        9 non-null      float64
 3   CGPA       10 non-null     int64
 4   Phone num  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [7]:
df.describe()

            GPA       CGPA
count  9.000000  10.000000
mean   4.333333   4.900000
std    3.162278   2.923088
min    0.000000   0.000000
25%    2.000000   3.250000
50%    4.000000   5.500000
75%    7.000000   6.750000
max    9.000000   9.000000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [8]:
df.loc[4]

Name            Bharath
RegNo         21BCE1114
GPA                 5.0
CGPA                  5
Phone num    7330800705
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [9]:
df.isnull()

    Name  RegNo    GPA   CGPA  Phone num
0  False  False  False  False      False
1  False  False  False  False      False
2  False  False  False  False      False
3  False  False   True  False      False
4  False  False  False  False      False
5  False  False  False  False      False
6  False  False  False  False      False
7  False  False  False  False      False
8  False  False  False  False      False
9  False  False  False  False      False

In [10]:
df.isnull().sum()

Name         0
RegNo        0
GPA          1
CGPA         0
Phone num    0
dtype: int64